[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
ray = "*"
black = "*"
pylint = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-napoleon = "*"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
gunicorn = "*"
dj-static = "*"
psycopg2-binary = "*"
drf-yasg = "*"
python-logging-loki = "*"
sphinx = "*"

[requires]
python_version = "3.8"
