appnope==0.1.0
backcall==0.2.0
black==19.10b0
decorator==4.4.2
dj-static==0.0.6
Django==3.1
django-filter==2.3.0
djangorestframework==3.11.1
drf-yasg==1.17.1
gunicorn==20.0.4
ipython==7.17.0
ipython-genutils==0.2.0
jedi==0.17.2
Markdown==3.2.2
numpy==1.19.1
paho-mqtt==1.5.0
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.5
psycopg2-binary==2.8.5
ptyprocess==0.6.0
Pygments==2.6.1
pylint==2.5.3
python-logging-loki==0.3.1
redis==3.5.3
rom==1.0.0
six==1.15.0
Sphinx==3.1.2
sphinx-autobuild==0.7.1
sphinx-rtd-theme==0.5.0
sphinxcontrib-napoleon==0.7
traitlets==4.3.3
wcwidth==0.2.5
