body {
 background: #78d66f !important;
}

.text{
	color: rgba(255, 255, 255, 0.9);
	text-align: center;
}

.btn{
	background: #78d66f;
	border: #0f0f0f;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
	background: cadetblue;
}
